---
interface Props{
    titulo: string
    texto: string
    img: string
    alt: string
    href: string
}

const { titulo, texto, img, alt, href} = Astro.props
---

<section class=" flex">
    <div class="imagen">
        <img src={img} alt={alt}>
        <div class="capa"></div>
    </div>
    <div class="contenido">
        <div class="texto">
            <h2 class="font-black">{titulo}</h1>
            <p class="font-ligth mt-4">{texto}</p>
            <a href={href}><button class="py-2 px-5 rounded-xl mt-10">Saber mas</button></a>
        </div>
    </div>
</section>
<style>
    .capa{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.4962359943977591) 75%, rgba(252,176,69,0) 100%);
    }
    section{
        z-index: 2;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative;
    }

    button{
        background-color: #b0d206e0;
    }
    button:hover{
        cursor: pointer;
        background-color: #AFD206;
        transition: ease 0.5s;
    }

    .contenido{
        width: 100%;
        height: auto;
        padding: 30px;
        z-index: 2;
    }

    .imagen{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    }
    img{
        position: absolute;
        right: 0px;
        width: 95%;
        height: 350px;
    }

    .texto{
        margin: auto;
    }
    
    h2,p{
        color: white;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 15px;
        width: 80%;
    }

    @media (min-width: 1080px){
        .capa{
            display: none;
        }
        section{
        height: 600px;
    }
        .contenido{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 180px 40px 20px;
    }
    .texto{
        width: 500px;
    }
    .imagen{
        width: 50%;
        height: 100%;
        position: static;
        overflow: hidden;
    }
    img{
        position: absolute;
        left: 0px;
        width: 50%;
        height: 100%;
    }
    h2,p{
        color: black;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    }
</style>